@use "sass:meta";
@use "sass:map";
@use "../config/variables.scss" as var;


$spacing-data: (
    none: 0,
    extra-small: var.$space-unit * 0.625,
    base: var.$space-unit,
    small: var.$space-unit * 1.25,
    normal: var.$space-unit * 2,
    wide: var.$space-unit * 3,
    extra-wide: var.$space-unit * 5,

);

@function spacing($variant: base) {
    $fetched-value: map.get($spacing-data, $variant);

    @if meta.type-of($fetched-value )==number {
        @return $fetched-value;
    }

    @else {
        @error "Spacing variant not found";
    }
}