{{#> component-container title="Actions"}}

<ul class="c-actions">
    <li class="c-action">
        <span class="c-action__title">طلبات تحتاج معالجة</span>
        <a href="#" class="c-btn c-action__link">مشاهدة الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title"> 5 رسائل تجتاج الاجابة</span>
        <a href="#" class="c-btn c-action__link">مشاهدة الرسائل</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">طلبات تحتاج معالجة</span>
        <a href="#" class="c-btn c-action__link">مشاهدة المنتجات</a>
    </li>
</ul>
{{/component-container}}