{{#> component-container title="Card"}}

<div class="c-card">
    <h3 class="c-card__title">معلومات الشحن غير متوفرة حاليا</h3>
    <a href="#" class="c-btn c-btn--primary c-card__action">ربط معلومات الشحن</a>
    <p class="c-card__desc">
        يرجى تفعيل معلومات الشحن من خلال الربط مع أحد شركاء الشحن المعتمدين يرجى تفعيل معلومات الشحن

    </p>

</div>


<div class="c-card c-card--no-description ">
    <h3 class="c-card__title">معلومات الشحن غير متوفرة حاليا</h3>
    <a href="#" class="c-btn c-btn--primary c-card__action">ربط معلومات الشحن</a>

</div>

<div class="c-card c-card--no-action ">
    <h3 class="c-card__title">معلومات الشحن غير متوفرة حاليا</h3>
    <p class="c-card__desc">
        يرجى تفعيل معلومات الشحن من خلال الربط مع أحد شركاء الشحن المعتمدين يرجى تفعيل معلومات الشحن
        من خلال الربط مع أحد شركاء الشحن المعتمدين يرجى تفعيل معلومات الشحن من خلال الربط مع أحد شركاء

    </p>

</div>

{{/component-container}}