{{#> component-container title="List"}}

<div class="c-list">
    <img src="/images/black-shirt.jpg" class="c-list__media">
    <span class="c-list__data"> قيص اسود M</span>
    <span class="c-list__data">علي صلاح</span>
    <span class="c-list__data">اليمن-حضرموت</span>
    <span class="c-list__data">20.00$</span>

    <div class="c-list__actions">
        <a href="#" class="c-btn c-btn--primary c-btn--small">تم الحشن </a>
        <a href="#" class="c-btn c-btn--small">تواصل</a>
        <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
    </div>
</div>


{{/component-container}}