{{#> component-container title="TextField"}}

<div class="c-textfield">
    <label for="normal" class="c-textfield__label">مدخل عادي</label>
    <input type="text" class="c-textfield__input" placeholder="ادخل المحتوى" id="normal">

</div>

<div class="c-textfield">
    <label for="normal" class="c-textfield__label">مدخل عادي</label>
    <textarea class="c-textfield__textarea" id="textarea" placeholder="ادخل المحتوى"></textarea>
    <span class="c-textfield__hint">نص توضيحي للمدخل</span>
</div>

{{/component-container}}