@use "sass:color";
@use "../config/colors.scss" as colors;

.c-btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: colors.$color-content;
    text-align: center;
    padding: 8px 16px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    background-color: colors.$color-white;
    border: 1px solid color.adjust(colors.$color-white, $lightness: -15%);
    box-shadow: 0 1px 0 0 rgb(color.adjust(colors.$color-white, $lightness: -15%), 0.05);

    &:focus {
        outline: none;
        border: 2px solid colors.$color-primary;

    }

    &:hover {
        background-color: color.adjust(colors.$color-white, $lightness: -3% / 2);
    }

}

.c-btn--primary {
    background-color: colors.$color-primary;
    color: colors.$color-white;
    border-color: color.adjust(colors.$color-primary, $lightness: -5%);

    &:focus {

        border-color: color.adjust(colors.$color-primary, $lightness: -10%);

    }

    &:hover {
        background-color: color.adjust(colors.$color-primary, $lightness: -5%);
    }
}

.c-btn--destructive {
    background-color: colors.$color-red;
    color: colors.$color-white;
    border-color: color.adjust(colors.$color-red, $lightness: -5%);

    &:hover {
        background-color: color.adjust(colors.$color-red, $lightness: -5%);
    }
}

.c-btn--ghost {
    background-color: transparent;
    color: colors.$color-content;
    border-color: colors.$color-content;

    &:hover {
        background-color: transparent;
    }
}

.c-btn--slim {
    padding-top: 4px;
    padding-bottom: 4px;
}


.c-btn--icon {
    font-size: 20px;
    width: 40px;
    height: 36px;
    text-align: center;
    padding: 0;
}